@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  80% {
    transform: translate(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  80% {
    transform: translate(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.header {
  height: 90vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
}

.text-box {
  padding-top: 40vh;
  text-align: center;
}

.text-box .btn:link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  margin-top: 10px;
  position: relative;
}

.text-box .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  margin-top: 10px;
  position: relative;
}

.text-box .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px 1px #007580;
}

.text-box .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.text-box .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 10px 1px #007580;
}

.text-box .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.text-box .btn-white {
  background: #fff;
  color: #007580;
  font-weight: 450;
}

.text-box .btn-white::after {
  background-color: #fff;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 1.5em;
  letter-spacing: 10px;
  font-weight: 400;
  animation-name: moveinleft;
  animation-duration: 3s;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 10px;
  animation-name: moveinright ease-out;
  animation: moveinright 3s ease-out;
}

.feature-section {
  padding: 12rem 0 2rem 0;
  margin-top: -7rem;
  text-align: center;
}

.feature-section h1 {
  color: #0097A7;
  padding-bottom: 3rem;
  transition: all .3s ease-in-out;
}

.feature-section h1:hover {
  transform: scale(1.05) rotate(-1deg);
}

.feature-section .feat .feat-box {
  font-size: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  margin: 1rem auto;
  padding: 2rem 1rem;
  transition: all .3s ease-in-out;
  height: 400px;
  width: 295px;
}

.feature-section .feat .feat-box:hover {
  transform: translateY(-1.1rem) scale(1.01);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.feature-section .feat-icon {
  background-image: linear-gradient(to right bottom, #EF5350, #0097A7);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
}

.grades {
  padding: 3rem 0;
  font-weight: 500;
}

.grades h1 {
  text-align: center;
  padding: 1rem;
}

.grades p {
  text-align: center;
  padding-bottom: 1rem;
}

.grades .table thead th {
  border: 3px solid #0097A7;
  text-align: center;
}

.grades .table td {
  border: 2px solid #EF5350;
  transition: all .3s ease-in-out;
}

.grades .table td .rate {
  float: right;
  font-weight: bold;
}

.grades .table td .rate span:first-child {
  color: #EF5350;
}

.grades .table td .rate span:last-child {
  color: #0097A7;
}

.grades .table td a {
  color: #0097A7;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

.grades .table td a:hover {
  border-bottom: 2px solid;
}

.popup {
  position: fixed;
  background: rgba(167, 163, 163, 0.59);
  width: 100%;
  height: 100vh;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
}

.popup .popup_content {
  padding: 1rem;
  width: 365px;
  height: 570px;
  background: white;
  border: 1px solid #c4c4c4;
  text-align: center;
  border-radius: 1rem .4rem;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -285px;
  margin-left: -182.5px;
}

.popup .popup_content img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.popup .popup_content h2 {
  padding: 1rem 0 0 0;
}

.popup .popup_content h4 {
  color: rgba(0, 0, 0, 0.6);
}

.popup .popup_content .social {
  font-size: 30px;
  margin-bottom: 20px;
}

.popup .popup_content .close-popup {
  font-size: 35px;
  float: right;
  color: #EF5350;
}

.popup .popup_content .close-popup:hover {
  color: #0097A7;
}

.feat-students {
  background: linear-gradient(to right, #0097A7, #EF5350);
  width: 100%;
  text-align: center;
  padding: 2rem;
  text-align: center;
  color: #fff;
  padding-bottom: 5rem;
}

.feat-students .main-head {
  color: #fff;
  padding-top: 3rem;
  font-weight: bold;
}

.feat-students h4 {
  color: #fff;
  font-weight: bold;
}

.feat-students .carousel-indicators li.active img {
  border: 3px solid #EF5350;
  width: 65px;
  height: 65px;
  opacity: 1;
  margin-top: 5px;
  transform: translate(-0.5rem);
}

.feat-students .carousel-indicators li {
  width: 50px;
  height: 50px;
  background: none;
  margin-right: 1rem;
}

.feat-students .carousel-indicators li img {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  opacity: .3;
  transition: all .5s ease-in-out;
}

.feat-students .feat-student {
  margin-bottom: 7rem;
  padding: 1rem;
}

.feat-students .feat-student .icon a {
  color: #fff;
}

.feat-students .feat-student h2 {
  padding-top: 1rem;
}

.feat-students .feat-student img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 2px 0px 25px 0px rgba(0, 0, 0, 0.6);
}

/* sign up */
.signup {
  background: url(../img/1.jpeg);
  height: 925px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  /*

*/
}

.signup h1 {
  padding-top: 3rem;
}

.signup .overlay {
  height: 925px;
  width: 100%;
  background: rgba(105, 101, 101, 0.418);
}

.signup .signup-content {
  z-index: 1;
  height: 730px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #0097A7;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  margin: 10px auto;
  width: 600px;
  left: 50%;
  position: absolute;
  margin-left: -300px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.signup .signup-content .facbook-signup {
  width: 195px;
  margin-top: 1rem;
  background: blue;
}

.signup .signup-input {
  width: 75%;
  height: 35px;
  font-size: 15px;
  margin: 15px auto;
  font-size: 17px;
}

.signup .custom-input {
  width: 80%;
  position: relative;
  padding: 5px;
  margin: 0 auto;
}

.signup .custom-input label {
  position: absolute;
  left: 15%;
  top: 30px;
  font-size: 17px;
  color: #999;
  z-index: -1;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signup .custom-input input {
  height: 45px;
  padding: 5px 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #0097A7;
}

.signup .custom-input input:focus + label {
  position: absolute;
  left: 13%;
  top: -10px;
  font-size: 20px;
  color: #0097A7;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signup .custom-input .has-data {
  position: absolute;
  left: 13%;
  top: -10px;
  font-size: 20px;
  color: #0097A7;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signup .signup-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #EF5350;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}

.signup .not-have a {
  color: #0097A7;
  text-decoration: none;
  font-size: 15px;
}

/* sign up */
/* footer */
@keyframes go-up {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(3px);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(-1px);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.fixed-footer {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 30px;
  background: #fff;
  color: #000;
  padding: 4px 10px 0px 10px;
  position: fixed;
  z-index: 99;
  bottom: 0;
  transform: translateY(40px);
  transition: all 1s ease-in-out;
}

.fixed-footer .right {
  float: right;
}

.fixed-footer .right .go-up {
  margin-left: 10px;
  color: #EF5350;
  animation: go-up 5s infinite;
  cursor: pointer;
}

.fixed-footer .left {
  float: left;
}

.fixed-footer .terms {
  color: #0097A7;
  transition: all .3s ease-in-out;
}

.fixed-footer .terms:hover {
  text-decoration: none;
  border-bottom: 2px solid #EF5350;
}

.message-click {
  position: fixed;
  bottom: 55px;
  right: 25px;
  z-index: 200;
  background: #0097A7;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  transform: translateX(90px);
  transition: all .3s ease-in-out;
}

.message-click:hover {
  text-decoration: none;
  color: #fff;
  background: #0097A7;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.message {
  background: rgba(167, 163, 163, 0.59);
  height: 100vh;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.message .message-content {
  z-index: 1;
  height: 500px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #0097A7;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  margin: 10px auto;
  width: 500px;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -250px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: -250px;
}

.message .message-content .button-effect {
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.message .message-content textarea {
  width: 80%;
  height: 130px;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #0097A7;
  background: transparent;
  margin: 0 50px;
}

.message .message-content .custom-input {
  width: 80%;
  position: relative;
  padding: 5px;
  margin: 30px auto;
}

.message .message-content .custom-input label {
  position: absolute;
  left: 5%;
  top: 15px;
  font-size: 17px;
  color: #999;
  z-index: -1;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.message .message-content .custom-input input {
  height: 45px;
  padding: 5px 10px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #0097A7;
}

.message .message-content .custom-input input:focus + label {
  position: absolute;
  left: 1%;
  top: -25px;
  font-size: 20px;
  color: #0097A7;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.message .message-content .custom-input .has-data {
  position: absolute;
  left: 1%;
  top: -25px;
  font-size: 20px;
  color: #0097A7;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.message .message-content h2 {
  color: #0097A7;
  text-align: center;
  margin-bottom: 30px;
}

.message .message-content .close-message {
  font-size: 35px;
  color: #EF5350;
  position: absolute;
  bottom: 5px;
  left: 50%;
}

.message .message-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}

/* footer */
:focus {
  outline: none;
}

/* sign up */
.signin {
  background: url(../img/1.jpeg);
  height: 800px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}

.signin h1 {
  padding-top: 100px;
}

.signin .overlay {
  height: 800px;
  width: 100%;
  background: rgba(105, 101, 101, 0.418);
}

.signin .signin-content {
  z-index: 1;
  height: 450px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #0097A7;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  margin: 10px auto;
  width: 300px;
  left: 50%;
  position: absolute;
  margin-left: -150px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.signin .signin-content .button-effect {
  margin: 15px 0;
  width: 185px;
}

.signin .signin-input {
  width: 75%;
  height: 35px;
  font-size: 15px;
  margin: 15px auto;
  font-size: 17px;
}

.signin .custom-input {
  width: 80%;
  position: relative;
  padding: 5px;
  margin: 25px auto;
}

.signin .custom-input label {
  position: absolute;
  left: 30%;
  top: 20px;
  font-size: 17px;
  color: #999;
  z-index: -1;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signin .custom-input input {
  height: 45px;
  padding: 5px 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #0097A7;
}

.signin .custom-input input:focus + label {
  position: absolute;
  left: 13%;
  top: -10px;
  font-size: 20px;
  color: #0097A7;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signin .custom-input .has-data {
  position: absolute;
  left: 13%;
  top: -10px;
  font-size: 20px;
  color: #0097A7;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 768px) {
  .signup {
    height: 1060px;
  }
  .signup .overlay {
    height: 1060px;
  }
  .signup .signup-content {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 3%;
  }
  .heading-primary-main {
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: 600;
  }
  .heading-primary-sub {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 5px;
  }
  .fixed-option {
    width: 240px;
  }
  .message .message-content {
    width: 89%;
    top: 50%;
    position: absolute;
    margin-left: -45%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: -250px;
  }
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 0px;
  line-height: 50px;
}

.icon a {
  color: #0097A7;
  font-size: 30px;
  transition: all .2s ease-in-out;
}

.icon a:hover {
  color: #EF5350;
  width: 95px;
  height: 95px;
}

/*  start fixed opsion */
.fixed-option {
  background: #fff;
  color: #0097A7;
  position: fixed;
  overflow-y: auto;
  padding-top: 20px;
  left: 0;
  transform: translateX(-100%);
  top: 0;
  height: 100%;
  width: 375px;
  z-index: 9999;
  box-shadow: 0 0px 23px -4px #000;
  transition: all .2s ease-in-out;
}

.fixed-option .close-nav {
  display: block;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  margin-top: -15px;
  margin-left: 5px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #e3e3e3;
  color: #EF5350;
  transition: all .2s ease-in-out;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.fixed-option .close-nav:hover {
  color: #0097A7;
}

.fixed-option .side-menu {
  text-align: center;
}

.fixed-option .side-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0;
  width: 100%;
  color: #0097A7;
  transition: all .2s ease-in-out;
}

.fixed-option .side-menu a:hover {
  background: #0097A7;
  color: #fff;
  border-radius: 5px;
}

.main-header {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 55;
  display: flex;
  color: rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
}

.main-header .open-nav {
  font-size: 25px;
  left: 10px;
  position: absolute;
  margin: 4px -2px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  transition: all .2s ease-in-out;
}

.main-header .open-nav a {
  color: #0097A7;
}

.main-header .open-nav a:hover {
  color: #EF5350;
}

.main-header .login-out-user {
  padding: 1px 5px;
  transition: all .2s ease-in-out;
  height: 28px;
  width: 63px;
  margin: 15px 10px 15px 0;
  color: #0097A7;
  position: absolute;
  right: 1px;
}

.main-header .login-out-user:hover {
  text-decoration: none;
  background: #EF5350;
  border-radius: 5px;
}

.main-header .brand {
  display: block;
  position: absolute;
  left: 62px;
  margin-top: 3px;
}

.main-header .brand img {
  height: 55px;
  width: 55px;
}

.main-header .user {
  position: absolute;
  right: 72px;
  padding: 5px 0px 5px 0px;
}

.main-header .user a {
  color: #0097A7;
  transition: all .2s ease-in-out;
}

.main-header .user a:hover {
  text-decoration: none;
  background: #EF5350;
  border-radius: 5px;
}

.main-header .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main-header .user .user-pic:hover {
  background: none;
  border-radius: 0;
}

.button-effect {
  padding: 10px;
  border-radius: 10px;
  background: #0097A7;
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 170px;
  font-weight: bold;
  overflow: hidden;
  color: #fff;
  border: none;
}

@keyframes ani-left {
  0% {
    width: 0;
  }
  70% {
    width: 100px;
  }
}

.from-left .fi1 {
  background: #EF5350;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 0;
  height: 100px;
  display: block;
  transition: all .4s ease-in-out;
}

.from-left:hover .fi1 {
  opacity: .4;
  width: 100%;
}

.from-left span:last-child {
  z-index: 2;
  position: relative;
}

.login {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transform: rotate(-90deg);
  transition: all .5s ease-in-out;
}

.login:target {
  visibility: visible;
  opacity: 1;
  transform: rotate(0);
  transform: translate(0);
}

.login .login-lost {
  text-align: center;
  margin-bottom: 0px;
}

.login .login-lost a {
  color: #666;
  text-decoration: none;
  font-size: 13px;
}

.loading {
  background: linear-gradient(to right, #0097A7, #EF5350);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999999999;
}

.loading .loading-container {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  width: 500px;
  height: 100px;
  margin: 25px auto;
  text-align: center;
  display: block;
  border-radius: 50px;
}

.loading .loading-container span {
  width: 60px;
  height: 60px;
  background: #0097A7;
  border-radius: 50%;
  display: inline-block;
  margin: 30px auto;
  position: relative;
  animation: moveup 1.5s infinite;
}

.loading .loading-container span:nth-of-type(1) {
  left: 50px;
  animation-delay: .25s;
}

.loading .loading-container span:nth-of-type(2) {
  left: 40px;
  animation-delay: .50s;
}

.loading .loading-container span:nth-of-type(3) {
  left: 30px;
  animation-delay: .75s;
}

.loading .loading-container span:nth-of-type(4) {
  left: 20px;
  animation-delay: 1s;
}

.loading .loading-container span:nth-of-type(5) {
  left: 10px;
  animation-delay: 1.25s;
}

.loading .loading-container span:nth-of-type(6) {
  left: 0;
  animation-delay: 1.5s;
}

@keyframes moveup {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
    background: #EF5350;
  }
  100% {
    transform: translateY(0);
  }
}

.login-content {
  padding: 0;
  overflow: hidden;
  width: 380px;
  height: 485px;
  background: white;
  border: 1px solid #c4c4c4;
  text-align: center;
  border-radius: 1rem .4rem;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -242.5px;
  margin-left: -190px;
}

.login-content .close-login {
  font-size: 35px;
  color: #EF5350;
  margin-top: .5rem;
}

.login-content .facbook-login {
  width: 180px;
  margin-top: 1rem;
  background: blue;
}

.login-content .login-logo {
  background: #EF5350;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-bottom: 2rem;
}

.login-content .login-logo img {
  height: 160px;
  width: 160px;
}

.login-content .login-input {
  width: 285px;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 10px;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.74);
  border: 3px solid #29b6f6;
  border-radius: 4px;
  display: block;
  margin: 15px auto;
  transition: all .5s ease-in-out;
  font-size: 20px;
  font-weight: bold;
}

.login-content input[type=text]:focus,
.login-content input[type=password]:focus,
.login-content input[type=name]:focus,
.login-content input[type=email]:focus {
  border: 4px solid #EF5350;
}

.login-content .login-button {
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}
/*# sourceMappingURL=style.css.map */