.feat-students {
    background: linear-gradient(to right, $color_2, $color_1);
    width: 100%;
    text-align: center;
    padding: 2rem;
    text-align: center;
    color: $bg_white;
    padding-bottom: 5rem;
    .main-head {
        color: $bg_white;
        padding-top: 3rem;
        font-weight: bold;
    }
    h4 {
        color: $bg_white;
        font-weight: bold;
    }
    .carousel-indicators li.active img {
        border: 3px solid $color_1;
        width: 65px;
        height: 65px;
        opacity: 1;
        margin-top: 5px;
        transform: translate(-0.5rem);
    }
    .carousel-indicators li {
        width: 50px;
        height: 50px;
        background: none;
        margin-right: 1rem;
        img {
            width: 50px;
            height: 50px;
            display: block;
            border-radius: 50%;
            opacity: .3;
            transition: all .5s ease-in-out;
        }
    }
    .feat-student {
        margin-bottom: 7rem;
        padding: 1rem;
        .icon a {
            color: $bg_white;
        }
        h2 {
            padding-top: 1rem;
        }
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            box-shadow: 2px 0px 25px 0px $rgba_back_darker;
        }
    }
}

/* sign up */

.signup {
    background: url(../img/1.jpeg);
    height: 925px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: $bg_white;
    h1 {
        padding-top: 3rem;
    }
    .overlay {
        height: 925px;
        width: 100%;
        background: rgba(105, 101, 101, 0.418);
    }
    .signup-content {
        z-index: 1;
        height: 730px;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid $color_2;
        border-radius: 10px;
        overflow: hidden;
        color: #000;
        margin: 10px auto;
        width: 600px;
        left: 50%;
        position: absolute;
        margin-left: -300px;
      
        padding-top: 20px;
        padding-bottom: 50px;
        .facbook-signup {
            width: 195px;
            margin-top: 1rem;
            background: blue;
        }
    }
  
    .signup-input {
        width: 75%;
        height: 35px;
        font-size: 15px;
        margin: 15px auto;
        font-size: 17px;
    }
.custom-input {
    width: 80%;
    position: relative;
    padding: 5px;
    margin: 0 auto;
 
    label {
        position: absolute;
        left: 15%;
        top: 30px;
        font-size: 17px;
        color: #999;
        z-index: -1;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    input {
        height: 45px;
    padding: 5px 10px;
    background: transparent;
    border: none;
    border-bottom: 1px solid $color_2;
    &:focus + label {
        position: absolute;
    left: 13%;
    top: -10px;
    font-size: 20px;
        color: $color_2;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    }
    .has-data {
        position: absolute;
        left: 13%;
        top: -10px;
        font-size: 20px;
        color: $color_2;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }  
}

/*

*/

    .signup-button {
        width: 100%;
        height: 50px;
        padding: 0;
        font-size: 20px;
        color: $bg_white;
        text-align: center;
        background: $color_1;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        outline: 0;
    }
    .not-have a {
        color: $color_2;
        text-decoration: none;
        font-size: 15px;
    }
}

/* sign up */

/* footer */

@keyframes go-up {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(3px);
    }
    60% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-3px);
    }
    80% {
        transform: translateY(-1px);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.fixed-footer {
    box-shadow: 0 0 10px 1px $rgba_back;
    width: 100%;
    height: 30px;
    background: #fff;
    color: #000;
    padding: 4px 10px 0px 10px;
    position: fixed;
    z-index: 99;
    bottom: 0;
    transform: translateY(40px);
    transition: all 1s ease-in-out;
    .right {
        float: right;
        .go-up {
            margin-left: 10px;
            color: $color_1;
            animation: go-up 5s infinite;
            cursor: pointer;
        }
    }
    .left {
        float: left;
    }
    .terms {
        color: $color_2;
        transition: all .3s ease-in-out;
        &:hover {
            text-decoration: none;
            border-bottom: 2px solid $color_1;
        }
    }
}

.message-click {
    position: fixed;
    bottom: 55px;
    right: 25px;
    z-index: 200;
    background: $color_2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px $rgba_back;
    color: $bg_white;
    transform: translateX(90px);
    transition: all .3s ease-in-out;
    &:hover {
        text-decoration: none;
        color: $bg_white;
        background: $color_2;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

.message {
    background: rgba(167, 163, 163, 0.59);
    height: 100vh;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    .message-content {
        z-index: 1;
        height: 500px;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid $color_2;
        border-radius: 10px;
        overflow: hidden;
        color: #000;
        margin: 10px auto;
        width: 500px;
        top: 50%;
        left: 50%;
        position: absolute;
        margin-left: -250px;
        padding-top: 20px;
        padding-bottom: 50px;
        margin-top: -250px;
        .button-effect {
            position: absolute;
            left: 50%;
            margin-left: -70px;
        }
        textarea {
            width: 80%;
            height: 130px;
padding: 5px 10px;
border: none;
    border-bottom: 1px solid $color_2;
background: transparent;
margin: 0 50px;
        }
        .custom-input {
            width: 80%;
            position: relative;
            padding: 5px;
            margin: 30px auto;
     
            label {
                position: absolute;
                left: 5%;
                top: 15px;
                font-size: 17px;
                color: #999;
                z-index: -1;
                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }
            input {
                height: 45px;
            padding: 5px 10px;
            width: 100%;
            background: transparent;
            border: none;
    border-bottom: 1px solid $color_2;
            &:focus + label {
                position: absolute;
                left: 1%;
                top: -25px;
            font-size: 20px;
                color: $color_2;
                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }
            }
            .has-data {
                position: absolute;
                left: 1%;
                top: -25px;
                font-size: 20px;
                color: $color_2;
                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }  
        }
        h2 {
            color: $color_2;
            text-align: center;
            margin-bottom: 30px;
        }
        .close-message {
            font-size: 35px;
            color: $color_1;
            position: absolute;
            bottom: 5px;
            left: 50%;
        }
    }
 
  
    .message-button {
        width: 100%;
        height: 50px;
        padding: 0;
        font-size: 20px;
        color: #fff;
        text-align: center;
        background: #f0776c;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        outline: 0;
    }
}

/* footer */
:focus {
    outline: none;
}