.grades {
    padding: 3rem 0;
    font-weight: 500;
    h1 {
        text-align: center;
        padding: 1rem;
    }
    p {
        text-align: center;
        padding-bottom: 1rem;
    }
    .table {
        
        thead th {
            border: 3px solid $color_2;
            text-align: center;
        }
        td {
            border: 2px solid $color_1;
            transition: all .3s ease-in-out;
            .rate {
                float: right;
                font-weight: bold;
                span:first-child {
                    color: $color_1
                }
                span:last-child {
                    color: $color_2;
                }
            }
            a {
                color: $color_2;
                text-decoration: none;
                transition: all .1s ease-in-out;
                &:hover {
                    border-bottom: 2px solid;
                }
            }
        }
    }
}

.popup {
    position: fixed;
    background: rgba(167, 163, 163, 0.59);
    width: 100%;
    height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    .popup_content {
        padding: 1rem;
        width: 365px;
        height: 570px;
        background: white;
        border: 1px solid #c4c4c4;
        text-align: center;
        border-radius: 1rem .4rem;
        left: 50%;
        top: 50%;
        position: absolute;
        margin-top: -285px;
        margin-left: -182.5px;
        img {
            width: 160px;
            height: 160px;
            border-radius: 50%;
        }
        h2 {
            padding: 1rem 0 0 0;
        }
        h4 {
            color: $rgba_back_darker;
        }
        .social {
            font-size: 30px;margin-bottom: 20px;
        }
        .close-popup {
            font-size: 35px;
            float: right;
            color: $color_1;
            &:hover {
                color: $color_2;
            }
        }
    }
}

